<nav class="bottom-nav">
  <div class="bottom-nav__btn">
    <%= link_to root_path, class: "bottom-nav__link #{bottom_nav_active(:home)}" do %>
      <%= svg_tag('home.svg', class: 'bottom-nav__icon bottom-nav__icon--svg') %>
      <span class="bottom-nav__label">Home</span>
    <% end %>
  </div>
  <div class="bottom-nav__btn">
    <%= link_to beers_path, class: "bottom-nav__link #{bottom_nav_active(:beers)}" do %>
     <%= svg_tag('glass_beer.svg', class: 'bottom-nav__icon bottom-nav__icon--svg') %>
      <span class="bottom-nav__label">Beer</span>
    <% end %>
  </div>
  <div class="bottom-nav__btn">
    <%= link_to wines_path, class: "bottom-nav__link #{bottom_nav_active(:wines)}" do %>
      <%= svg_tag('glass_wine.svg', class: 'bottom-nav__icon bottom-nav__icon--svg') %>
      <span class="bottom-nav__label">Wine</span>
    <% end %>
  </div>
  <div class="bottom-nav__btn">
    <%= link_to search_path, class: "bottom-nav__link #{bottom_nav_active(:search)}" do %>
      <%= svg_tag('search.svg', class: 'bottom-nav__icon bottom-nav__icon--svg') %>
      <span class="bottom-nav__label">Search</span>
    <% end %>
  </div>
</nav>

