<div class="card bg-beer" style="<%= card_background_image(drink) %>">
  <div class="card-category"><%= drink.style %></div>
  <div class="card-body">
    <div class="card-description">
      <h2><%= drink.name %></h2>
      <p><%= stars(drink.rating) %></p>
    </div>
  </div>
  <%= link_to "", drink, class: "card-link" %>
</div>
