<%= simple_form_for beer do |f| %>
  <div class="panel panel--middle">
    <%= f.input :name, label: "Nom" %>
    <%= f.input(
      :brewery,
      label: "Brasseur",
      input_html: {
        data: {
          autocomplete: true,
          url: beers_autocomplete_brewery_path
        }
      }
    ) %>
    <%= f.input :style, collection: Beer.styles, label: "Style" %>
    <%= f.input :country, priority: [ "France" ], label: "Pays" %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.input :comment, label: "Commentaires" %>
  </div>
  <%= f.button :submit, class: "btn btn-lg btn-block margin--bottom-50 panel__btn panel--bottom btn-beer-alt" %>
<% end %>
