<%= simple_form_for beer do |f| %>
  <div class="panel panel--middle">
    <%= f.input :name, label: "Nom" %>
    <%= f.input :brewery, label: "Brasseur" %>
    <%= f.input :style, collection: Beer.styles, label: "Style" %>
    <%= f.input :country, priority: [ "France" ], label: "Pays" %>
    <%= f.input :photo, as: :attachinary %>
  </div>
  <%= f.button :submit, class: "btn btn-lg btn-block margin--bottom-50 panel__btn panel--bottom btn-beer-alt" %>
<% end %>
