<div class="row">
  <div class="col-xs-12">
    <h1><%= @beer.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p><%= @beer.brewery %></p>
    <p><%= @beer.style %></p>
    <p><%= @beer.country %></p>
    <%= link_to "Modifier", edit_beer_path(@beer) %>
  </div>
</div>
