<div class="panel panel--beer panel--top">
  <h1 class="panel__title">
    <%= @beer.name %>
    <small>
      <%= link_to edit_beer_path(@beer), class: "link--beer" do %>
        <i class="fa fa-pencil icon" aria-hidden="true"></i>
      <% end %>
    </small>
  </h1>
</div>
<div class="panel panel--middle">
  <% if @beer.photo? %>
    <p style="<%= background_image(@beer) %>" class="image-md"></p>
  <% end %>
  <p>
    <%= stars(@beer.rating, class: "stars--x2") if @beer.rated? %>
    <%= link_to edit_beer_rating_path(@beer), class: "link--beer" do %>
      <i class="fa fa-pencil icon" aria-hidden="true"></i>
      <%= "Noter cette bière" unless @beer.rated? %>
    <% end %>
  </p>
  <p>
    <i class="fa fa-industry" aria-hidden="true"></i>
    Brasserie : <%= @beer.brewery %>
  </p>
  <p>
    <i class="fa fa-beer" aria-hidden="true"></i>
    Style : <%= @beer.style %>
  </p>
  <p>
    <i class="fa fa-globe" aria-hidden="true"></i>
    Pays : <%= @beer.pretty_country %>
  </p>
</div>
<%= link_to "< Retour", beers_path, class: "btn btn-lg btn-block margin--bottom-50 panel__btn panel--bottom btn-beer-alt" %>
