<div class="row">
  <div class="col-xs-12">
    <div class="wrapper-white">
      <h1 class="text-center">
        <%= @beer.name %>
        <%= link_to edit_beer_path(@beer) do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
      </h1>
      <p>
        <% if @beer.photo? %>
          <%= cl_image_tag @beer.photo.path, class: "img-responsive" %>
        <% end %>
      </p>
      <p>
        <%= stars(@beer.rating) %>
      </p>
      <p>
        <i class="fa fa-industry" aria-hidden="true"></i>
        Brasserie : <%= @beer.brewery %>
      </p>
      <p>
        <i class="fa fa-beer" aria-hidden="true"></i>
        Style : <%= @beer.style %>
      </p>
      <p>
        <i class="fa fa-globe" aria-hidden="true"></i>
        Pays : <%= @beer.pretty_country %>
      </p>
      <%= link_to "< Retour", beers_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
