<%= simple_form_for wine, html: { remote: true, id: "form-wine" } do |f| %>
  <div class="panel panel--middle">
    <%= f.input :name, label: "Nom" %>
    <%= f.input(
      :appellation,
      label: "Appellation",
      input_html: {
        data: {
          autocomplete: true,
          url: wines_autocomplete_appellation_path
        }
      }
    ) %>
    <%= f.input :color, collection: Wine.colors, label: "Couleur" %>
    <%= f.input :year, label: "Année" %>
    <%= f.input :country, priority: [ "France" ], label: "Pays" %>
    <%= f.input :stock, input_html: { min: 0 }, label: "Stock" %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.input :comment, label: "Commentaires" %>
  </div>
  <%= f.button :submit, class: "btn btn-lg btn-block margin--bottom-50 panel__btn panel--bottom btn-wine-alt" %>
<% end %>
